@import "../variables.scss";


button {
  border-radius: 10px;
  background-color: var(--app-primary-color);
  color:white;
  border: none;
  position: relative;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  transition: 300ms ease all;
  outline: none;
}

button:hover, button:focus {
  transition: none;
  background-color: var(--app-primary-color-hover);
}

button:focus {
  background-color: white;
  color: var(--app-primary-color);
}

button:active {
  transform: scale(1.05);
}

// Main settings for borders
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--app-primary-color);
  transition: 300ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}


// When hovered
button:focus:before,
button:focus:after {
  width: 100%;
  transition: 300ms ease all;
  background: var(--app-primary-color);
}

span {
  display: block;
  padding: 0.4em 0.5em;
}

span::before,
span::after {
  content: "";
  height: 0;
  position: absolute;
  background: var(--app-primary-color);
}

button:active, button:focus {
  span::after {
    width: 2px;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: all 0.2s linear;
  }

  span::before {
    width: 2px;
    right: 0;
    top: 0;
    height: 100%;
    transition: all 0.2s linear;
  }
}
